[Desktop Entry]
Name=H3 Suporte
NoDisplay=true
MimeType=x-scheme-handler/h3suporte;
TryExec=h3suporte
Exec=h3suporte %u
Icon=h3suporte
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=h3suporte
