[Desktop Entry]
Name=H3 Suporte
GenericName=Acesso Remoto
Comment=Acesso Remoto
Exec=h3suporte %u
Icon=h3suporte
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;remote-control;p2p;rdp;remote-desktop;vnc;suporte;h3;
Actions=new-window;
StartupWMClass=h3suporte

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Abrir uma Nova Janela
Exec=h3suporte %u
